
<h1>Insert new product</h1>

<form action='/new_product' method='post'>
  <label for='new_product_name'>Product Name</label>
  <input type='text' name='new_product_name'/>

  <label for'new_product_price'>Product Price</label>
  <input type='text' name='new_product_price'/>

  <label for='new_product_sale_status'>On sale?</label>
  <input type='radio' name='new_product_sale_status' value='t'>Yes</input>
  <input type='radio' name='new_product_sale_status' value='f'>No</input>

  <button>Save!</button>
 </form>

