<h1>You just created a new product and saved it to the table. Awesome. </h1>

<p><a href="/new_product"> I wanna go make another </a></p>
<p><a href="products"> I wanna go see all the products </a></p>
<p><a href="/"> I wanna go to the homepage </a></p>